---
import { Admin, Editor } from "react-bricks";
import Layout from "../../layouts/layout.astro";
---

<Layout>
  <title slot="head">Editor</title>
  <Admin client:only >
    <Editor client:only />
  </Admin>
</Layout>
